.calculadora {
    background: rgb(128, 29, 185);
    width: 200px;
    padding: 20px;
}
#btnCalc {
    background: rgb(42, 164, 235);
    color: white;
    margin: 10px;
    padding: 5px;
}
#btnCalc:hover{
    background: rgb(131, 200, 240);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#total {
    padding: 10px;
    margin: 5px;
    background: rgb(228, 101, 228);
    color: rgb(44, 38, 39);
}
