.calculadora {
    background: rgb(128, 29, 185);
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px pink;
    text-align: center;
}
.calcF{
    display: none;
}
#calcFin{
    display: none;
}
#calcFin:checked + .calculadora .calcF {
    display: block;
}
.calculadora input {
    border-radius: 10px;
    border: none;
    padding: 5px;
    background: rgb(173, 187, 212);
    color: rgb(17, 61, 66);
}
.calculadora input:focus{
    background: blueviolet;
    color: rgb(9, 10, 10);
}
.spTotal {
    background: black;
    border-radius: 5px;
    padding: 5px;
    color: cornflowerblue;
    margin-bottom: 10px;
}
#btnCalc {
    background: rgb(42, 164, 235);
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
#btnCalc:hover{
    background: rgb(131, 200, 240);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

